*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height:100vh;
}

#main{
 /*background-image: url(https://i.postimg.cc/j2Bj9Q71/My-project-3.png );
    width: 50vw;
    height: 50vh;
    background-position: center;
    background-size: cover;*/
    background-color: darkslateblue;
    display: flex;
    min-height: 100% ;
    
    
} 
.mobile{
    background-image: url(https://i.postimg.cc/j2Bj9Q71/My-project-3.png);
     width: 60vw;
    /* height:100vh;  */
    background-position:left;
    background-size: cover;
    background-repeat: no-repeat;
   
    
}
.m_text{
    transform: translateY(250px);
    font-family:'Courier New', Courier, monospace;
    font-size: 2rem; 
   word-wrap: break-word;
   width: 30rem;
   color: aliceblue;
   height: 350px;
}
.m_text span{
    font-size: 4rem;
    color: deeppink;
}
.m_text #text{
    font-size: 19px;
    font-family: cursive;
}
.m_text button:hover{
background-color:deeppink;
}
.m_text button{
    border-radius: 40px;
    width: 150px;
    background: none;
    border: 3px solid transparent;
    color:aliceblue;
    outline:2px solid white;
}
.cell{
    background-image: url(https://i.postimg.cc/tC1nc1zn/cellphone-wallpaper-removebg-preview.png);
    width: 50vw;
    height:50vh;
    /* margin: auto; */
    background-position: center;
    background-size: cover;
    /* padding-top: 90px; */
    transform: translateY(200px);
    /* background-color: black; */
}
#phone{
   transform: translateX(900px);
    font-family:'Courier New', Courier, monospace;
    font-size: 40px; 
   word-wrap: break-word;
   width: 30rem;
   color: aqua;
  
}
.cell button{
transform: translateX(1000px);
padding: 12px;
border: 3px solid black;
border-radius: 30px;

}
.wifi{
    background-image: url(https://i.postimg.cc/Cxs6dCv9/A190205-Sommer-wifi-towers-nbfz9u.gif);
    background-position:center;
    background-size: cover;
    width: 100vw;
    height: 50vw;

}
.fown_1{
    background-image: url(https://i.postimg.cc/RFc5GRjM/ZTE-AXON-11-SE-5-G-1-removebg-preview.png);
    background-position:left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30vw;
    height: 30vw;
    
   
}
.fown_1 ul{
transform: translateX(900px);
}
.fown_2{
    background-image: url(https://i.postimg.cc/RZX0LMwP/Original-Global-Version-Mobilephone-for-Vivo-S6-Cell-Phone-5g-HD-Camera-Fingerprint-Mobile-Phones-re.png);
    background-position:left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30vw;
    height: 40vw;
}
.fown_3{
    background-image: url(https://i.postimg.cc/Z539PkV2/Renault-5-opens-the-OPPO-Exchange-program-for-adding-old-removebg-preview.png);
    background-repeat: no-repeat
}